{block content}
<div><h1 n:block="title">Konfigurátor rally teamů</h1></div>

<div class="pic">
		
		<div class="btns">
			<div> 
			<a n:href="Post:teamslist"><button type="button" class="btn">Seznam týmů a členů</button></a>
			</div>
			<div> 
			<a n:href="Post:employe"><button type="button" class="btn">Zaměstnanci</button></a>
			</div>
			<div> 
			<a n:href="Post:teams"><button type="button" class="btn">Týmy</button></a>
			</div>
		</div>
		
</div>
    	
    
{/block}
