.btn{text-transform: uppercase; height: 70px; width: 200px; color: #fff; background-color: #a11010;  border: 0px;margin-bottom: 20px;}
.pic{background-image: url("obr1.webp"); background-repeat:no-repeat;  background-position: center; }
.btns{text-align: center;}
h1{text-align: center;}